@font-face {
    font-family: 'child-hood';
    src: url("fonts/ChildHood.woff");
}

/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIBLES */
:root {
    --width: 100vw;
    --min-height: 100vh;
    --sidebar-width: calc((3/7)*var(--width));
    --form-height: calc((2/5)*var(--min-height));
    --section-height: calc(((3/5)*var(--min-height))/2);
    --margin-left: 3.5rem;
}

body {
    /* background-color: #333; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: var(--width);
    min-height: var(--min-height);
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: var(--sidebar-width);
    height: var(--min-height);
    flex-shrink: 0;
    position: relative;
}

.sidebar img {
    width: 100%;
    height: 100%;
    /* box-shadow: inset 2px 2px #000; */
}

.photo-credit {
    position: absolute;
    bottom: 2rem;
    left: 25%;
    font-family: 'child-hood', sans-serif;
    font-size: 2rem;
    color: #e74921;
}

.photo-credit a {
    color: #e74921;
}

.logo-text {
    width: 100%;
    height: 5rem;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 30%;
}

.logo-text p {
    font-family: 'child-hood', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5rem;
    font-style: italic;
    padding-top: 1rem;
}

.hero {
    height: var(--section-height);
}

.hero h2 {
    font-size: 2.5rem;
    letter-spacing: 1ch;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}



.hero p {
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: var(--margin-left);
    font-style: normal;
    margin-right: var(--margin-left);
}

.hero p:last-child {
    font-style: italic;
}

.content {
    background-color: #f0ffff;
    width: calc(var(--width) - var(--sidebar-width));
}

form {
    height: var(--form-height);
    background-color: #fff;
    box-shadow: 0px 2px 5px #777;
}

form h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: var(--margin-left);
}

.form-content {
    display: flex;
    flex-wrap: wrap;
}

.form-content > div {
    position: relative;
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
}

label span {
    color: red;
}

input,
label {
    margin-left: var(--margin-left);
}

input {
    width: 300px;
    /* font-size: 1.2rem; */
    display: block;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-top: 0.2rem;
    padding: 0.3rem;
}

input:focus {
    outline: none;
    border: 1px solid #95dcdc;
    box-shadow: 0.5px 0.5px 2px #555;
}

.error-message {
    position: absolute;
    font-size: 0.8rem;
    left: var(--margin-left);
    bottom: 0.1em;
    visibility: hidden;
}

input:user-invalid {
    border: 1px solid red;
}

input:user-valid {
    border: 1px solid #4fe878;
}

input:user-invalid ~ .error-message {
    visibility: visible;
    color: red;
}

button {
    margin-left: var(--margin-left);
    width: 150px;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #95dcdc;
    background-color: #95dcdc;
    box-shadow: 0 0.5px 1px #555;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: #95dcdcc8;
}

button:active {
    text-shadow: 0.5px 0 #000;
}

.content>section:last-child {
    height: var(--section-height);
}

.sign-in {
    margin-left: var(--margin-left);
    margin-top: 1rem;
    font-size: 1.1rem;
    font-style: italic;
}

.sign-in a {
    color: #349b9b;
    font-weight: bold;
}